version: '2'
networks:
  mynetwork:
        driver: bridge
        ipam:
            driver: default
            config:
                - subnet: 192.168.16.0/24
                  gateway: 192.168.16.1
services:
  backend:
    build: /Users/kel2/mysite_dcos/backend
    volumes:
      - /Users/kel2/mysite_dcos/backend:/usr/src/app
    ports:
      - 5001:80
    networks:
      mynetwork:
        ipv4_address: 192.168.16.2
  web:
    image: nginx
    container_name: nginx
    volumes:
      - /Users/kel2/mysite_dcos/frontend/default.conf:/etc/nginx/conf.d/default.conf
      - /Users/kel2/mysite_dcos/frontend:/usr/share/nginx/html
    ports:
      - "9080:9080"
    environment:
      - NGINX_PORT=9080
    command: bash -c "exec nginx -g 'daemon off;'"
    depends_on:
      - backend
    networks:
      mynetwork:
        ipv4_address: 192.168.16.3
  
    